body {
  padding: 0;
  margin: 0;
}

#mapid,#bonusmapid {
  height: 600px;
  width: 1300px;
  
}

.navbar, footer{
  background-color: rgb(62, 212, 125);
  padding: 10px;
}

.mapformat{
  border-style:solid;
  border-color: black;
  box-shadow: 5px 5px 2.5px grey;

}

footer p{
  text-align: center;
}

.mapformat1{
  border-style:solid;
  border-color: black;
  box-shadow: 5px 5px 2.5px grey;

}

/* Set Legend Style */
.detail {
  padding: 1px 10px;
  background: #b7ff8e;
  border-radius: 5px;
}

.legend {
  line-height: 25px;
  color: #000000;
}

.legend i {
  width: 20px;
  height: 20px;
  float: right;
  margin-right: 10px;
  margin-left: 10px;
  opacity: 0.75;
}

h3 {
  margin: 0px;
  padding: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

p {
  margin: -5px;
  padding: -6px;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  text-align: center;
}

.leaflet-popup-content-wrapper {
  background-color: rgb(188, 255, 188);
}

.leaflet-popup-content-wrapper h3 {
  font-size: 16px;
  font-weight: bolder;
}

.leaflet-popup-content-wrapper p {
  font-size: 12px;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
  background-color: rgb(188, 255, 188);;
}

